.App{
    margin:0 auto;
}
.card{
    margin:0 auto;
    background: linear-gradient(to bottom,red,pink);
    width:200px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    
}
.location{
    text-align: center;
}
.city{
   
    font-size:1.6em;
}